################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/StaticShop/FileContentIndex/0eabbb0c-0e61-42dd-94f4-d8dca0a4d0d5.vsidx
/.vs/StaticShop/FileContentIndex
